.about {
    padding: $multiple * 32 $multiple * 9 $multiple * 28 $multiple * 9;
    background-color: #f8fafa;

    @media(max-width: $breakpoints-xl-max) {
        padding: $multiple * 20 $multiple * 4 $multiple * 18 $multiple * 4;
    }
    &__content {
        @include dFlexSpaceBetweenFlStart();
        &_carousel {
            width: 42%;
            &_bg {
                @include dFlexCenter();
                width: 100%;
                height: $multiple * 103;
                background-color: #eff0f2;
                margin: $multiple * 9 0 $multiple * 20;
                @media(max-width: $breakpoints-xl-max) {
                    height: $multiple * 83;
                }
            }
            &_frame {
                width: 82%;
                &_track {
                    list-style-type: none;
                    &_item {
                        display: flex;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            &_dots {
                @include dFlexCenter();
                list-style-type: none;
                &_dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: #d0d0d0;
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: $multiple;
                    }
                    &:not(.dot_active) {
                        &:hover {
                            background-color: darken(#d0d0d0, 20%);
                        }
                    }
                }
            }
        }
        &_text {
            width: 48%;
            &_title {
                @include merriweather();
                font-weight: 700;
                text-transform: uppercase;
                color: $secondary-color-op74;
                margin-bottom: 8 * $multiple;
            }
            &_paragraph {
                @include raleway();
                display: block;
                font-size: $fs-s;
                line-height: 7 * $multiple;
                font-weight: 400;
                color: $secondary-color-op74;
                margin-bottom: 9 * $multiple;
            }
        }
    }
}