.about {
    padding: $multiple * 32 $multiple * 9 $multiple * 28 $multiple * 9;
    background-color: #f8fafa;

    @media(max-width: $breakpoints-xl-max) {
        padding: $multiple * 20 $multiple * 4 $multiple * 18 $multiple * 4;
    }
    @media(max-width: $breakpoints-m-max) {
        padding: $multiple * 10 $multiple * 4 $multiple * 10 $multiple * 4;
    }
    &__content {
        @include dFlexSpaceBetweenFlStart();
        @media(max-width: $breakpoints-m-max) {
            @include dFlexCenter();
            flex-direction: column;
        }
        &_carousel {
            width: 42%;
            @media(max-width: $breakpoints-m-max) {
                @include dFlexCenter();
                width: 65%;
                flex-direction: column;
                margin-bottom: 10 * $multiple;
            }
            &_bg {
                @include dFlexCenter();
                width: 70%;
                height: $multiple * 65;
                background-color: #eff0f2;
                margin: $multiple * 9 auto $multiple * 20 auto;
                @media(max-width: $breakpoints-l-max) {
                    width: 100%;
                    height: $multiple * 80;
                }
                @media(max-width: $breakpoints-s-max) {
                    height: $multiple * 110;
                }
            }
            &_frame {
                width: 82%;
                overflow: hidden;
                &_track {
                    @include dFlexStart();
                    list-style-type: none;
                    transition: .5s all;
                    &_item {
                        @include dFlexCenter();
                        min-width: 275px;
                        @media(max-width: $breakpoints-xl-max) {
                            min-width: 231px;
                        }
                        @media(max-width: $breakpoints-l-max) {
                            min-width: 247px;
                        }
                        @media(max-width: $breakpoints-m-max) {
                            min-width: 287px;
                        }
                        @media(max-width: $breakpoints-s-max) {
                            min-width: 252px;
                        }
                        img {
                            width: 100%;
                            @media(max-width: $breakpoints-s-max) {
                                width: 70 * $multiple;
                                height: 120 * $multiple;
                                object-fit: cover;
                            }
                        }
                        
                    }
                }
                @media(max-width: $breakpoints-s-max) {
                    width: 72%;
                }
            }
            &_dots {
                @include dFlexCenter();
                list-style-type: none;
                &_dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: #d0d0d0;
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: $multiple;
                    }
                    &:not(.dot_active) {
                        &:hover {
                            background-color: darken(#d0d0d0, 20%);
                        }
                    }
                }
            }
            
        }
        &_text {
            width: 48%;
            @media(max-width: $breakpoints-m-max) {
                width: 65%;
            }
            &_title {
                @include merriweather();
                font-weight: 700;
                text-transform: uppercase;
                color: $secondary-color-op74;
                margin-bottom: 8 * $multiple;
                @media(max-width: $breakpoints-m-max) {
                    text-align: center;
                }
            }
            &_paragraph {
                @include raleway();
                display: block;
                font-size: $fs-s;
                line-height: 7 * $multiple;
                font-weight: 400;
                color: $secondary-color-op74;
                margin-bottom: 9 * $multiple;
            }
        }
    }
}