.intro {
    position: relative;
    padding: $multiple * 16 $multiple * 4 $multiple * 33 $multiple * 4;
    background-color: rgba(#eff0f2, .98);
    overflow: hidden;

    @media(max-width: $breakpoints-xl-max) {
        padding: $multiple * 10 $multiple * 4 $multiple * 20 $multiple * 4;
    }
    @media(max-width: $breakpoints-m-max) {
        padding: $multiple * 10 $multiple * 4 $multiple * 10 $multiple * 4;
    }
    &__header {
        @include dFlexSpaceBetween();
        margin-bottom: $multiple * 51;
        @media(max-width: $breakpoints-m-max) {
            margin-bottom: $multiple * 25;
        }
        &_logo {
            @include montserrat();
            padding: $multiple * 3;
            box-shadow: 0px 0px 2px 0px rgba(21,21,22,0.75);
            font-size: $fs-m;
            font-weight: 700;
            text-transform: uppercase;
            color: $secondary-color;
            border: $multiple * 2 solid #170f1c;
            strong {
                font-size: $fs-xxl;
                color: #77efe5;
            }
        }
        &_hamburger {
            @include dFlexColumn();
            cursor: pointer;
            span {
                width: $multiple * 8;
                height: $multiple;
                background-color: $secondary-color-op60;
                border-radius: $multiple / 2;
                transition: .2s all;
                &:not(:last-child) {
                    margin-bottom: $multiple;
                }
            }
        }
        &_menu {
            @include dFlexColumnEvenly();
            @include raleway();
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;
            height: 100%;
            transform: translateX(-100%);
            transition: .5s all;
            padding: 10 * $multiple 10 * $multiple;
            background-color: $secondary-color-op50;
            font-size: $fs-xxl;
            &_item {
                text-decoration: none;
                color: $main-color-op80;
                &:hover {
                    color: $main-color;
                    text-decoration: underline;
                }
            }
            &_active {
                transform: translateX(0%);
            }
        }
    }
    &__content {
        margin-bottom: $multiple * 37;
        &_title {
            @include montserrat();
            @include dFlexColumn();
            line-height: $multiple * 17;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            color: #505050;
        }
        @media(max-width: $breakpoints-m-max) {
            margin-bottom: $multiple * 20;
        }
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: $multiple * 23;
        @media(max-width: $breakpoints-s-max) {
            padding-right: 0;
            img {
                width: 30%;
            }
        }
        &_button {
            margin-right: $multiple * 71;
            @media(max-width: $breakpoints-m-max) {
                margin-right: $multiple * 65;
            }
            @media(max-width: $breakpoints-s-max) {
                margin-right: $multiple * 20;
            }
            &:hover {
                background-color: darken($main-color, 20%);
            }
        }
        
    }
}