@mixin raleway() {
    font-family: 'Raleway', sans-serif;
}

@mixin montserrat() {
    font-family: 'Montserrat', sans-serif;
}

@mixin merriweather() {
    font-family: 'Merriweather', serif;
}

@mixin dFlexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin dFlexStart() {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin dFlexEnd() {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

@mixin dFlexSpaceBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dFlexSpaceBetweenFlStart() {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin dFlexColumn() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin dFlexColumnStart() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}