$main-color: #fff;  
$main-color-op94: rgba(#fff, .94); 
$main-color-op90: rgba(#ffffff, .9); 
$secondary-color: #000;
$secondary-color-op94: rgba(#000, .94);
$secondary-color-op90: rgba(#000, .90);
$secondary-color-op83: rgba(#000, .83);
$secondary-color-op80: rgba(#000, .80);
$secondary-color-op74: rgba(#000, .74);
$secondary-color-op70: rgba(#000, .70);
$secondary-color-op67: rgba(#000, .67);
$secondary-color-op65: rgba(#000, .65);
$secondary-color-op60: rgba(#000, .6);
$secondary-color-op50: rgba(#000, .5);
$secondary-color-op40: rgba(#000, .4);
$secondary-color-op30: rgba(#000, .3);
$multiple: 4px;