$main-color: #fff;  
$secondary-color: #000;
$secondary-color-op90: rgba(#000, .90);
$secondary-color-op74: rgba(#000, .74);
$secondary-color-op60: rgba(#000, .6);
$secondary-color-op50: rgba(#000, .5);
$multiple: 4px;