// @import './normalize.css';
@import './components/mixins'; 
@import './components/variables';
@import './blocks/intro';
@import './blocks/about';
@import './blocks/works';
@import './blocks/services';
@import './blocks/team';
@import './blocks/testimonials';
@import './blocks/logo';
@import './blocks/contacts';
@import './blocks/footer';

// == COMMON == //

html {
    font-size: 16px;
    @media(max-width: $breakpoints-l-max) {
        font-size: 14px;
    }
    @media(max-width: $breakpoints-s-max) {
        font-size: 10px;
    }
}


.container {
    max-width: $container-xl-max; 
    margin: 0 auto;
}

h1 {
    font-size: rem(45px);
}

h2 {
    font-size: rem(38px);
}

h3 {
    font-size: rem(18px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    @include montserrat();
    display: inline-block;
    padding: $multiple * 5 $multiple * 12;
    border: $multiple/2 solid $secondary-color-op50;
    border-radius: $multiple/2;
    font-size: $fs-l;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary-color-op70;
    cursor: pointer;
    @media(max-width: $breakpoints-xl-max) {
        font-size: $fs-xs;
    } 
}

.word-rect {
    @include montserrat();
    padding: $multiple * 2;
    background-color: rgba(#76f4ea, .5);
}

.main_title {
    @include montserrat();
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary-color-op90;
    line-height: $multiple * 14;
    text-align: center;
    @media(max-width: $breakpoints-s-max) {
        margin-bottom: 3 * $multiple;
    }
}

.main_subtitle {
    @include merriweather();
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-color-op60;
    text-align: center;
    text-shadow: 0 0 $multiple $secondary-color-op50;
    margin-bottom: 31 * $multiple;
    @media(max-width: $breakpoints-xl-max) {
        margin-bottom: 20 * $multiple;
    }
    @media(max-width: $breakpoints-s-max) {
        margin-bottom: 10 * $multiple;
    }
}

.dot_active {
    background-color: #71f6eb;
}

@media(max-width: $breakpoints-xl-max) {
    .container {
        max-width: $container-l-max;
    }
}
@media(max-width: $breakpoints-l-max) {
    .container {
        max-width: $container-m-max;
    }
}
@media(max-width: $breakpoints-m-max) {
    .container {
        max-width: $container-s-max;
    }
    h1 {
        font-size: rem(30px);
    }
}
@media(max-width: $breakpoints-s-max) {
    .container {
        max-width: 100%;
    }
}


// == /COMMON == //